body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  color: #f7faff;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  position: relative;
}

#slideable-background {
  transition: transform 300ms cubic-bezier(0, 0, 0.06, 0.99),
    width 300ms cubic-bezier(0, 0, 0.06, 0.99);
}

.details-container {
  --padding: 36px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #080918;
  height: 100%;
  width: 574px;
  padding: var(--padding);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.qr-bg-gradient {
  margin-top: -16px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 499;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.024) 49.02%,
    rgba(255, 255, 255, 0) 100.12%
  );
}

#qr-bg-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  --gradient-color-1: #00040a;
  --gradient-color-2: #0f408a;
  --gradient-color-3: #001029;
  --gradient-color-4: #001e4c;
  margin-top: -16px;
}

.qr-info {
  --qr-info-width: 160px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  width: calc(var(--qr-info-width) + calc(16px * 2));
  padding: 16px;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001029;
  border-radius: 10px;
  overflow: clip;
  transition: box-shadow 300ms cubic-bezier(0, 0, 0.06, 0.99),
    transform 300ms cubic-bezier(0, 0, 0.06, 0.99),
    height 300ms cubic-bezier(0, 0, 0.06, 0.99);
  box-shadow: 0 0 2.17551px rgba(179, 180, 248, 0.028),
    0 0 6.21573px rgba(179, 180, 248, 0.035), 0 0 60px rgba(179, 180, 248, 0.05),
    0 50px 70px 20px rgba(179, 180, 248, 0.03);
}

.qr-info-content {
  z-index: 500;
  padding-top: 8px;
}

.qr-hint {
  color: #f7faff;
  font-size: 14pt;
  margin-bottom: 24px;
  width: 100%;
  z-index: 500;
}

.qr-hint * {
  transition: opacity 600ms;
}

.qr-hint #qr-hint-content-container {
  transition: height 1000ms ease;
}

.qr-hint .experience-name {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.qr-hint .action-name {
  font-weight: 800;
}

#qr-hint-icon {
  display: none;
}

#qr {
  background: #f7faff;
  border-radius: 8px;
  z-index: 500;
  width: 100%;
}

#qr.locked {
  --lock-size: 80px;
  --padding: calc((var(--qr-info-width) - var(--lock-size)) / 2);
  width: calc(var(--lock-size) + calc(var(--padding) * 2));
  height: calc(var(--lock-size) + calc(var(--padding) * 2));
  padding: var(--padding);
}

.text-details {
  margin-bottom: 36px;
}

.text-details > :first-child {
  margin-top: 0;
}

#title,
#artist {
  font-family: "Montserrat", sans-serif;
}

#title {
  margin-bottom: 0;
}

#artist {
  margin-top: 16px;
  font-weight: 500;
  font-style: italic;
}

#description {
  margin-top: 40px;
  line-height: 1.5em;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('MaterialIconsOutlined-Regular.otf') format('opentype');
}

.material-icons {
  /*noinspection CssNoGenericFontName*/
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outlined {
  /*noinspection CssNoGenericFontName*/
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
