body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: #FAFAFA;
    font-size: 140%;
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 110%;
}

#details-container {
    --padding: 36px;
    background: rgba(33, 33, 33, 0.5);
    height: calc(100% - (var(--padding) * 2));
    width: calc(100% - (var(--padding) * 2));
    /**--width: 20vw;
    width: calc(var(--width) - (var(--padding) * 2)); **/
    padding: var(--padding);
    transition: transform 300ms cubic-bezier(0,0,.06,.99);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#qr {
    --width: 160px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    background: gray;
    margin: 36px;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    border: 4px black solid;
}

.text-details {
    margin-bottom: 36px;
}

.text-details > :first-child {
    margin-top: 0;
}

#title, #artist {
    font-family: "Montserrat", sans-serif;
}

#title {
    margin-bottom: 10px;
}

#artist {
    margin: 0 0 40px;
}
