body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: #FAFAFA;
    font-family: "Open Sans", sans-serif;
}

.details-container {
    --padding: 36px;
    background: #212121;
    height: calc(100% - (var(--padding) * 2));
    width: calc(100% - (var(--padding) * 2));
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#qr {
    --width: 160px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    background: white;
    margin: 36px;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    border: 4px black solid;
}

#qr.locked {
    --lock-size: 80px;
    width: var(--lock-size);
    height: var(--lock-size);
    padding: calc((var(--width) - var(--lock-size)) / 2)
}

.text-details {
    margin-bottom: 36px;
}

.text-details > :first-child {
    margin-top: 0;
}

#title, #artist {
    font-family: "Montserrat", sans-serif;
}

#title {
    margin-bottom: 10px;
}

#artist {
    margin: 0 0 40px;
}
